@import '../../../assets/styles/variables.scss';

.title{
    display: flex;
    justify-content: center ;
    margin-top: 34px;
    margin-bottom: 34px;
    text-transform: uppercase;
    font-family: $mainFont;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: $customBlue;
}

.gameBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 45px;
    border: 2px solid $customBlue;
    border-radius: 25px;
    font-size: 27px;
    font-family: $mainFont;
    font-weight: 600;
    color: $customBlue;
    cursor: pointer;

    &:hover {
        width: 162px;
        height: 47px;
        border-width: 3px;
    }

    &:active {
        width: 163px;
        height: 48px;
        background-color: $customBlue;
        color: $customGray;
    }
}

.gameBtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 480px)  {
    .title {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
    }

    .mainContainer {
        display: grid;
        row-gap: 10px;
        justify-content: center;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .mainContainer {
        display: grid;
        row-gap: 10px;
        justify-content: center;
    }
}

@media screen and (min-width:769px) and (max-width:1279px) {
    .mainContainer {
        display: grid;
        row-gap: 10px;
        justify-content: center;
    }
}

@media screen and (min-width:1280px) {
    .mainContainer {
        display: grid;
        row-gap: 13px;
        margin-left: 86px;
    }
}