@import '../../../../assets/styles/variables.scss';

.container {
    width: 100px;
    height: 100px;

    &:hover {
        .title {
            color: $customBlue;
        }
    }

    &:active {
        .title {
            color: $hoverColor;
        }
    }
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    font-family: $mainFont;
    font-size: 20px;
    color: black;
}

.links {
    text-decoration: none;
}

@media only screen and (min-width:0) and (max-width: 900px) {
    .container{
        display: none;
    }
}