@import '../../../assets/styles/variables.scss';

.titleContainer, 
.innerContainer,
.newWordContainer {
    font-family: $mainFont;
    font-weight: 700;
    color: $customBlue;
}

.titleContainer {
    text-transform: uppercase;
}

.newWordContainer {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tableNumberTitle, 
.tableWordTitle,
.tableTranscriptionTitle,
.tableTranslationTitle,
.tableNumber,
.tableWord,
.tableTranscription,
.tableTranslation,
.addBtn,
.saveBtn,
.saveEditBtn,
.editTable,
.deleteWordBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: $customWhite;
}

.tableNumberTitle, 
.tableWordTitle,
.tableTranscriptionTitle,
.tableTranslationTitle,
.tableNumber,
.addBtn,
.editTable {
    border: 2px solid $customBlue;
}

.editTable {
    &:active {
        background-color: $customBlue;
        color: $customGray;
    }
}

.deleteWordBtn {
    border: 2px solid $customRed;
    color: $customRed;

    &:hover {
        border-width: 3px;
        font-weight: bolder;
    }

    &:active {
        background-color: $customRed;
        color: $customGray;
    }
}

.saveEditBtn {
    &:hover {
        border-width: 3px;
        font-weight: bolder;
    }
}

.deleteWordBtn,
.saveEditBtn {
    height: 54px;
}

.saveBtn,
.saveEditBtn {
    border: 2px solid $customGreen;
    color: $customGreen;

    &:active {
        background-color: $customGreen;
        color: $customGray;
    }
}

.tableWord,
.tableTranscription,
.tableTranslation {
    padding-left: 35px;
    border: 2px solid $customGray;
    cursor: pointer;
    &:hover {
        border: 2px solid $customBlue;
    }
}

.addBtn,
.saveBtn,
.deleteWordBtn,
.saveEditBtn,
.editTable {
    cursor: pointer;
}

.addBtn {
    font-family: $mainFont;
    font-weight: 700;
    color: $customBlue;
    &:hover {
        border: 2px solid $customGreen;
        color: $customGreen;
    }
}

.btnContainer,
.editBtnContainer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .mainContainer {
        display: grid;
        row-gap: 10px;
        justify-content: center;
    }
    
    .titleContainer, 
    .innerContainer,
    .newWordContainer {
        display: grid;
        column-gap: 8px;
        row-gap: 5px;
        font-size: 12px;
        line-height: 39px;
    }
    
    .titleContainer,
    .innerContainer,
    .newWordContainer {
        grid-template-columns: repeat(3, 105px);
    }
    
    .tableWordTitle,
    .tableTranscriptionTitle,
    .tableTranslationTitle {
        width: 105px;
        height: 36px;
    }

    .tableWordTitle,
    .tableTranscriptionTitle,
    .tableTranslationTitle,
    .tableWord,
    .tableTranslation,
    .tableTranscription {
        border-radius: 10px;
    }
    
    .addBtn,
    .editTable {
        width: 20px;
        height: 20px;
    }
    
    .tableNumberTitle,
    .tableNumber {
        display: none
    }
    
    .addBtn,
    .saveBtn {
        font-size: 12px;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .mainContainer {
        display: grid;
        row-gap: 10px;
        justify-content: center;
    }
    
    .titleContainer, 
    .innerContainer,
    .newWordContainer {
        display: grid;
        column-gap: 10px;
        row-gap: 5px;;
        font-size: 15px;
        line-height: 39px;
    }
    
    .titleContainer,
    .innerContainer,
    .newWordContainer {
        grid-template-columns: 50px repeat(3, 180px) 50px;
    }
    
    .tableWordTitle,
    .tableTranscriptionTitle,
    .tableTranslationTitle {
        width: 180px;
        height: 50px;
    }

    .tableWordTitle,
    .tableTranscriptionTitle,
    .tableTranslationTitle,
    .tableWord,
    .tableTranslation,
    .tableTranscription,
    .tableNumberTitle,
    .tableNumber,
    .addBtn,
    .editTable {
        border-radius: 25px;
    }
    
    .tableNumberTitle,
    .tableNumber,
    .addBtn,
    .saveBtn,
    .editTable {
        width: 50px;
        height: 50px;
    }
    
    .addBtn,
    .saveBtn {
        font-size: 12px;
    }
}

@media screen and (min-width:769px) and (max-width:1279px) {
    .mainContainer {
        display: grid;
        row-gap: 10px;
        justify-content: center;
    }
    
    .titleContainer, 
    .innerContainer,
    .newWordContainer {
        display: grid;
        column-gap: 10px;
        row-gap: 5px;
        font-size: 20px;
        line-height: 39px;
    }

    .titleContainer,
    .innerContainer,
    .newWordContainer {
        grid-template-columns: 50px repeat(3, 200px) 50px;
    }
    
    .tableWordTitle,
    .tableTranscriptionTitle,
    .tableTranslationTitle {
        width: 200px;
        height: 50px;
    }

    .tableWordTitle,
    .tableTranscriptionTitle,
    .tableTranslationTitle,
    .tableWord,
    .tableTranslation,
    .tableTranscription,
    .tableNumberTitle,
    .tableNumber,
    .addBtn,
    .saveBtn,
    .editTable {
        border-radius: 25px;
    }
    
    .tableNumberTitle,
    .tableNumber,
    .addBtn,
    .saveBtn,
    .editTable {
        width: 50px;
        height: 50px;
    }
    
    .addBtn,
    .saveBtn {
        font-size: 20px;
    }
}

@media screen and (min-width:1280px) {
    .mainContainer {
        display: grid;
        row-gap: 13px;
        margin-left: 86px;
    }
    
    .titleContainer, 
    .innerContainer,
    .newWordContainer {
        display: grid;
        column-gap: 30px;
        row-gap: 10px;
        font-size: 29px;
        line-height: 39px;
    }
    
    .titleContainer,
    .innerContainer,
    .newWordContainer {
        grid-template-columns: 54px repeat(3, 300px) 54px;
    }
    
    .tableWordTitle,
    .tableTranscriptionTitle,
    .tableTranslationTitle {
        width: 300px;
        height: 65px;
    }
    
    .editTable,
    .tableNumberTitle,
    .tableNumber,
    .addBtn,
    .saveBtn {
        width: 54px;
        height: 54px;
    }
    
    .addBtn,
    .saveBtn,
    .editTable {
        &:hover {
            width: 55px;
            height: 55px;
        }
    }
    
    .addBtn,
    .saveBtn  {
        font-size: 32px;
    }
}