@import '../../../assets/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorTitle,
.errorMessage {
    font-family: $boldFont;
    font-weight: bolder;
    color: black;
}

.errorTitle {
    margin-bottom: 50px;
    font-size: 50px;
}

.errorMessage {
    margin-top: 10px;
    font-size: 36px;
}

.btnContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 300px;
    height: 60px;
    border: 2px solid $customBlue;
    border-radius: 27px;
    font-family: $boldFont;
    font-size: 27px;
    background-color: inherit;
    cursor: pointer;
    &:hover {
        width: 305px;
        height: 65px;
        font-size: 30px;
        font-weight: 600;
        background-color: $hoverColor;
        color: $customBlue;
    }

    &:active {
        border-width: 5px;
        border-color: $hoverColor;
    }
}

.links {
    text-decoration: none;
}