@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$bodyColor: #E0F0FA;
$customBlue: #6BB3E7;
$customWhite: #F5F5F5;
$customGray: #C7D1D8;
$customRed: #E76B6B;
$hoverColor: #5C88FF;
$mainFont: Montserrat;
$boldFont: Genos;

@media screen and (max-width: 480px) {}

@media screen and (min-width:481px) and (max-width:768px) {}

@media screen and (min-width:769px) and (max-width:1279px) {
    .container {
        margin-left: 89px;
        padding-top: 39px;
        padding-left: 53px;
        padding-right: 53px;
        width: 600px;
        height: 125px;
    }
}

@media screen and (min-width:1280px) {
    .container {
        margin-left: 89px;
        padding-top: 39px;
        padding-left: 53px;
        padding-right: 53px;
        width: 600px;
        height: 130px;
    }

    .topic,
    .quantity {
        font-size: 36px;
        font-weight: 700;
    }
}

.container {
    border: 1px $customWhite;
    background-color: $customWhite;
}

.topic,
.quantity {
    font-family: $mainFont;
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.topic {
    text-transform: uppercase;
}