@import '../../../../assets/styles/variables.scss';

.container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    border: 1px $customWhite;
    border-radius: 15px;
    background-color: $customWhite;
    box-sizing: border-box;
}

.topic,
.quantity {
    font-family: $mainFont;
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.topic {
    text-transform: uppercase;
}

@media screen and (max-width: 480px) {
    .container {
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 40px 53px 40px 53px;
        min-width: 90vw;
        width: fit-content;
        height: 120px;
        &:hover {
            border: 3px solid $customBlue;
        }

        &:active {
            border-color: $hoverColor;
            
            .topic,
            .quantity {
                font-size: 22px;
            }
        }
    }

    .topic,
    .quantity {
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (min-width:481px) and (max-width:900px) {
    .container {
        margin-left: 20px;
        margin-bottom: 30px;
        padding: 40px 53px 40px 53px;
        min-width: 90vw;
        width: fit-content;
        height: 120px;
        &:hover {
            border: 3px solid $customBlue;
        }

        &:active {
            border-color: $hoverColor;

            .topic,
            .quantity {
                font-size: 27px;
            }
        }
    }

    .topic,
    .quantity {
        font-size: 25px;
        font-weight: 700;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1028px) {
    .container {
        margin-left: 50px;
        margin-bottom: 48px;
        padding: 40px 50px 40px 50px;
        width: 600px;
        height: 120px;
        &:hover {
            border: 3px solid $customBlue;
        }

        
        &:active {
            border-color: $hoverColor;

            .topic,
            .quantity {
                font-size: 38px;
            }
        }
    }

    .topic,
    .quantity {
        font-size: 36px;
        font-weight: 700;
    }
}

@media only screen and (min-width: 1028px) and (max-width: 1279px) {
    .container {
        margin-left: 89px;
        margin-bottom: 48px;
        padding: 40px 53px 40px 53px;
        width: 817px;
        height: 130px;
        &:hover {
            border: 3px solid $customBlue;
        }

        &:active {
            border-color: $hoverColor;

            .topic,
            .quantity {
                font-size: 38px;
            }
        }
    }

    .topic,
    .quantity {
        font-size: 36px;
        font-weight: 700;
    }
}

@media screen and (min-width:1280px) {
    .container {
        margin-left: 89px;
        margin-bottom: 48px;
        padding: 40px 53px 40px 53px;
        width: 817px;
        height: 130px;
        &:hover {
            border: 3px solid $customBlue;
        }

        &:active {
            border-color: $hoverColor;

            .topic,
            .quantity {
                font-size: 38px;
            }
        }
    }

    .topic,
    .quantity {
        font-size: 36px;
        font-weight: 700;
    }
}