@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$bodyColor: #E0F0FA;
$customBlue: #6BB3E7;
$customWhite: #F5F5F5;
$customGray: #C7D1D8;
$customRed: #E76B6B;
$hoverColor: #5C88FF;
$mainFont: Montserrat;
$boldFont: Genos;

.container {
    padding-top: 39px;
    padding-left: 53px;
    padding-right: 53px;
    width: 817px;
    height: 130px;
    border: 1px $customWhite;
    background-color: $customWhite;
}

.topic,
.quantity {
    font-family: $mainFont;
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.topic {
    text-transform: uppercase;
}