@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$bodyColor: #E0F0FA;
$customBlue: #6BB3E7;
$customWhite: #F5F5F5;
$customGray: #C7D1D8;
$customRed: #E76B6B;
$hoverColor: #5C88FF;
$mainFont: Montserrat;
$boldFont: Genos;

.container {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}