@import '../../../assets/styles/variables.scss'; 

.container {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;

    
    .counter {
        margin-bottom: 10px;
        color: $customBlue;
    }

    .numbers {
        color: #000;
    }

    .numbers,
    .counter {
        display: flex;
        justify-content: center;
        margin-top: 8px;
        font-family: $boldFont;
        font-weight: 600;
    }

    .cardContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    
        .prevBtn {
            margin-right: 5%;
        }
        
        .nextBtn {
            margin-left: 5%;
        }
    
        .prevBtn,
        .nextBtn {
            display: flex;
            justify-content: center;
            width: 25px;
            height: 25px;
            border: none;
            background-color: $bodyColor;
            font-size: 20px;
            cursor: pointer;
    
            &:hover {
                color: $customBlue;
            }
            &:active {
                color: $hoverColor;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .numbers,
    .counter {
        font-size: 18px;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .numbers,
    .counter {
        font-size: 18px;
    }
}

@media screen and (min-width:769px) and (max-width:1279px) {
    .numbers,
    .counter {
        font-size: 34px;
    }
}

@media screen and (min-width:1280px) {
    .numbers,
    .counter {
        font-size: 34px;
    }
}