@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$bodyColor: #E0F0FA;
$customBlue: #6BB3E7;
$customWhite: #F5F5F5;
$customGray: #C7D1D8;
$customRed: #E76B6B;
$mainFont: Montserrat;
$boldFont: Genos;

.titleContainer, 
.innerContainer {
    display: grid;
    column-gap: 57px;
    font-family: $mainFont;
    font-weight: bold;
    font-size: 32px;
    border: 2px solid $customBlue;
    border-radius: 25px;
    color: $customBlue;
}

.titleContainer {
    grid-template-columns: 54px repeat(3, 310px);
    text-transform: uppercase;
}

.innerContainer {
    grid-template-columns: 54px repeat(3, 310px);
}

.tableNumberTitle {
    width: 54px;
    height: 54px;
    border: 2px solid $customBlue;
    border-radius: 25px;
    background-color: $customWhite;
}

