@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$bodyColor: #E0F0FA;
$customBlue: #6BB3E7;
$customWhite: #F5F5F5;
$customGray: #C7D1D8;
$customRed: #E76B6B;
$hoverColor: #5C88FF;
$mainFont: Montserrat;
$boldFont: Genos;

.mainContainer {
    display: grid;
    row-gap: 13px;
    margin-left: 86px;
}

.titleContainer, 
.innerContainer {
    display: grid;
    column-gap: 57px;
    font-family: $mainFont;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: $customBlue;
}

.titleContainer {
    grid-template-columns: 54px repeat(3, 310px);
    text-transform: uppercase;
}

.innerContainer {
    grid-template-columns: 54px repeat(3, 310px);
}

.tableNumberTitle, 
.tableWordTitle,
.tableTranscriptionTitle,
.tableTranslationTitle,
.tableNumber,
.tableWord,
.tableTranscription,
.tableTranslation,
.addNewWord {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: $customWhite;
}

.tableWordTitle,
.tableTranscriptionTitle,
.tableTranslationTitle,
.tableWord,
.tableTranscription,
.tableTranslation {
    width: 310px;
    height: 68px;
}

.tableNumberTitle, 
.tableWordTitle,
.tableTranscriptionTitle,
.tableTranslationTitle,
.tableNumber,
.addNewWord {
    border: 2px solid $customBlue;
}

.tableWord,
.tableTranscription,
.tableTranslation {
    border: 2px solid $customGray;
    cursor: pointer;
    &:hover {
        border: 2px solid $customBlue;
    }
}

.tableNumberTitle,
.tableNumber,
.deleteBtn,
.addNewWord {
    width: 54px;
    height: 54px;
}

.deleteBtn,
.addNewWord {
    cursor: pointer;
    &:hover {
        width: 55px;
        height: 55px;
    }
}

.addNewWord {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 32px;
    color: $customBlue;
    &:hover {
        border: 2px solid $customRed;
        color: $customRed;
    }
}

.addBtn {
    display: flex;
    justify-content: center;
}



