@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$bodyColor: #E0F0FA;
$customBlue: #6BB3E7;
$customWhite: #F5F5F5;
$customGray: #C7D1D8;
$customRed: #E76B6B;
$mainFont: Montserrat;
$boldFont: Genos;

.titleContainer {
    display: grid;
    grid-template-columns: 54px repeat(3, 310px) 54px;
    column-gap: 57px;
}

.mainContainer {
    display: grid;
    grid-template-columns: 54px repeat(3, 310px);
    column-gap: 57px;
}

