@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$bodyColor: #E0F0FA;
$customBlue: #6BB3E7;
$customWhite: #F5F5F5;
$customGray: #C7D1D8;
$customRed: #E76B6B;
$hoverColor: #5C88FF;
$mainFont: 'Montserrat', sans-serif;
$boldFont: Genos;

@media only screen and (min-width: 0) and (max-width: 929px) {
    .container {
        flex-direction:column;
    }
}

@media only screen and (min-width: 960px) {
    .container {
        justify-content: space-evenly;
        align-items: center;
        height: 84px;
    }
}

.container {
    display: flex;
    background-color: $customGray;
}

.homeLink, 
.myaccountLink, 
.aboutlink, 
.contactsLink {
    font-family: $mainFont;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    color: #000000;
    &:hover {
        color: $hoverColor;
    }
}