@import '../../../../assets/styles/variables.scss';

$bodyColor: #E0F0FA;
$customBlue: #6BB3E7;
$customWhite: #F5F5F5;
$customGray: #C7D1D8;
$customRed: #E76B6B;
$hoverColor: #5C88FF;
$mainFont: Montserrat;
$boldFont: Genos;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardBody {
    border: 1px $customWhite;
    border-radius: 46px;
    background-color: $customWhite;
    cursor: pointer;
}

.topic {
    text-align: center;
    font-family: $boldFont;
    font-weight: 600;
    text-transform: uppercase;
    color: #A3B0B9;
}

.word {
    text-align: center;
    font-family: $mainFont;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.transcription,
.numbers {
    font-weight: 600;
    color: #000;
}

.transcription {
    text-align: center;
    font-family: $mainFont;
}

.translation,
.translations {
    display: none;
}

.numbers {
    margin-top: 8px;
    font-family: $boldFont;
}

.showTranslation {
    .word{
        display: none;
    }

    .transcription {
        display: none;
    }

    .translation,
    .translations {
        display: block; 
        font-family: $mainFont;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
    }

    .translation {
        text-align: center;
    }

    .translations {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .cardBody {
        padding-top: 5px;
        width: 250px;
        height: 180px;
    }

    .topic {
        font-size: 15px;
    }
    
    .word {
        margin-top: 23px;
        font-size: 35px;
    }

    .numbers {
        font-size: 20px;
    }

    .transcription {
        margin-top: 15px;
        font-size: 28px;
    }

    .showTranslation {
        .translation {
            margin-top: 23px;
            font-size: 35px;
        }
    
        .translations {
            margin-top: 15px;
            font-size: 28px;
        }
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .cardBody {
        padding-top: 5px;
        width: 325px;
        height: 220px;
    }

    .topic {
        font-size: 18px;
    }
    
    .word {
        margin-top: 45px;
        font-size: 38px;
    }

    .numbers {
        font-size: 20px;
    }

    .transcription {
        margin-top: 15px;
        font-size: 29px;
    }

    .showTranslation {
        .translation {
            margin-top: 45px;
            font-size: 38px;
        }
    
        .translations {
            margin-top: 15px;
            font-size: 29px;
        }
    }
}

@media screen and (min-width:769px) and (max-width:1279px) {
    .cardBody {
        padding-top: 11px;
        width: 635px;
        height: 415px;
    }

    .topic {
        margin-top: 11px;
        font-size: 36px;
    }
    
    .word {
        margin-top: 82px;
        font-size: 96px;
    }

    .transcription,
    .numbers {
        font-size: 36px;
    }

    .transcription {
        margin-top: 32px;
    }

    .showTranslation {
        .translation {
            margin-top: 82px;
            font-size: 96px;
        }
    
        .translations {
            margin-top: 32px;
            font-size: 36px;
        }
    }
}

@media screen and (min-width:1280px) {
    .cardBody {
        padding-top: 11px;
        width: 652px;
        height: 430px;
    }

    .topic {
        margin-top: 11px;
        font-size: 36px;
    }
    
    .word {
        margin-top: 82px;
        font-size: 96px;
    }

    .transcription,
    .numbers {
        font-size: 36px;
    }

    .transcription {
        margin-top: 32px;
    }

    .showTranslation {
        .translation {
            margin-top: 82px;
            font-size: 96px;
        }
    
        .translations {
            margin-top: 32px;
            font-size: 36px;
        }
    }
}