@import '../../../../assets/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardBody {
    border: 1px $customWhite;
    border-radius: 46px;
    background-color: $customWhite;
    box-sizing: border-box;
    cursor: pointer;
    &:hover{
        .word,
        .transcription,
        .translation,
        .translations,
        .topic {
            color: $customBlue;
        }
    }

    &:active {
        box-shadow: 0 0 0 3px $customBlue;
    }
}

.topic {
    text-align: center;
    font-family: $boldFont;
    font-weight: 600;
    text-transform: uppercase;
    color: #A3B0B9;
}

.word {
    text-align: center;
    font-family: $mainFont;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.transcription {
    font-weight: 600;
    color: #000;
}

.transcription {
    text-align: center;
    font-family: $mainFont;
}

.translation,
.translations {
    display: none;
}

.showTranslation {
    .word{
        display: none;
    }

    .transcription {
        display: none;
    }

    .translation,
    .translations {
        display: block; 
        font-family: $mainFont;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
    }

    .translation {
        text-align: center;
    }

    .translations {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .cardBody {
        padding: 5px 15px 5px 15px;
        min-width: 250px;
        width: fit-content;
        height: 180px;
    }

    .topic {
        font-size: 15px;
    }
    
    .word {
        margin-top: 23px;
        font-size: 35px;
    }

    .transcription {
        margin-top: 15px;
        font-size: 28px;
    }

    .showTranslation {
        .translation {
            margin-top: 23px;
            font-size: 35px;
        }
    
        .translations {
            margin-top: 15px;
            font-size: 28px;
        }
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .cardBody {
        padding: 5px 15px 5px 15px;
        min-width: 325px;
        width: fit-content;
        height: 220px;
    }

    .topic {
        font-size: 18px;
    }
    
    .word {
        margin-top: 45px;
        font-size: 38px;
    }

    .transcription {
        margin-top: 15px;
        font-size: 29px;
    }

    .showTranslation {
        .translation {
            margin-top: 45px;
            font-size: 38px;
        }
    
        .translations {
            margin-top: 15px;
            font-size: 29px;
        }
    }
}

@media screen and (min-width:769px) and (max-width:1279px) {
    .cardBody {
        padding: 11px 20px 11px 20px;
        min-width: 635px;
        width: fit-content;
        height: 415px;
    }

    .topic {
        margin-top: 11px;
        font-size: 36px;
    }
    
    .word {
        margin-top: 82px;
        font-size: 80px;
    }

    .transcription {
        font-size: 36px;
    }

    .transcription {
        margin-top: 32px;
    }

    .showTranslation {
        .translation {
            margin-top: 82px;
            font-size: 80px;
        }
    
        .translations {
            margin-top: 32px;
            font-size: 36px;
        }
    }
}

@media screen and (min-width:1280px) {
    .cardBody {
        padding: 11px 20px 11px 20px;
        min-width: 652px;
        width: fit-content;
        height: 430px;
    }

    .topic {
        margin-top: 11px;
        font-size: 36px;
    }
    
    .word {
        margin-top: 82px;
        font-size: 80px;
    }

    .transcription {
        font-size: 36px;
    }

    .transcription {
        margin-top: 32px;
    }

    .showTranslation {
        .translation {
            margin-top: 82px;
            font-size: 80px;
        }
    
        .translations {
            margin-top: 32px;
            font-size: 36px;
        }
    }
}