@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$bodyColor: #E0F0FA;
$customBlue: #6BB3E7;
$customWhite: #F5F5F5;
$customGray: #C7D1D8;
$customRed: #E76B6B;
$hoverColor: #5C88FF;
$mainFont: Montserrat;
$boldFont: Genos;

.button {
    border-width: 1px;
    border-radius: 46px;
    box-shadow: none;
}

@media screen and (max-width: 480px) {
    .button {
        display: none;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .button {
        margin-top: 20px;
        margin-right: 18px; 
        width: 100px;
        height: 75px;
    }
}

@media screen and (min-width:769px) and (max-width:1279px) {
    .button {
        margin-top: 25px;
        margin-right: 25px; 
        width: 250px;
        height: 112px;
    }
}

@media screen and (min-width:1280px) {
    .button {
        margin-top: 105px;
        margin-right: 80px; 
        width: 298px;
        height: 112px;
    }
}