@import '../../../assets/styles/variables.scss';

.links {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width:0) and (max-width: 300px) {
    .mainContainer {
        display: none;
    }

    .headerMUI {
        width: 100%;
    }

    .myaccountMUI {
        display: none;
    }
}

@media only screen and (min-width: 301px) and (max-width: 900px) {
    .mainContainer {
        display: none;
    }

    .headerMUI {
        width: 100%;
    }

    .myaccountMUI {
        display: block;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1028px) {
    .mainContainer {
        position: sticky;
        top: 0;
        background-color: $bodyColor;
    }

    .navContainer {
        position: relative;
        top: 16px;
        left: 70%;
        width: 205px;
        height: 61px;
    }
    
    .title, 
    .currentLanguage {
        font-family: $boldFont;
        font-weight: bold;
        font-size: 36px;
        line-height: 43.2px;
        color: black;
    }
    
    .title {
        position: absolute;
        top: 25px;
        left: 70px;

        &:hover {
            font-size: 38px;
        }

        &:active {
            color: $hoverColor;
        }
    }
    
    .currentLanguage {
        position: absolute;
        top: 9px;
        left: 0;
        cursor: pointer;
        &:hover {
            font-size: 37px;
            color: $hoverColor;
        }
    }
    
    .homeBtn {
        position: absolute;
        top: 9px;
        left: 61px;
        cursor: pointer;
        &:hover {
            color: $customBlue;
        }

        &:active {
            color: $hoverColor;
        }
    }
    
    .myaccount {
        position: absolute;
        top: 0;
        left: 139px;
        width: 66px;
        height: 61px;
        cursor: pointer;
        &:hover {
            width: 67px;
            height: 62px;
        }

        &:active {
            border-radius: 50px;
            border: 2px solid $hoverColor;
        }
    }
    
    .headerLine {
        position:absolute;
        top: 89px;
        left: 27px;
        width: 92%;
        height: 0;
        border: 1px solid #5C88FF;
        background-color: $bodyColor;
    }
}

@media only screen and (min-width: 1028px) and (max-width: 1279px) {
    .mainContainer {
        position: sticky;
        top: 0;
        background-color: $bodyColor;
    }

    .navContainer {
        position: relative;
        top: 16px;
        left: 70%;
        width: 205px;
        height: 61px;
    }
    
    .title, 
    .currentLanguage {
        font-family: $boldFont;
        font-weight: bold;
        font-size: 36px;
        line-height: 43.2px;
    }
    
    .title {
        position: absolute;
        top: 25px;
        left: 10%;

        &:hover {
            font-size: 38px;
        }

        &:active {
            color: $hoverColor;
        }
    }
    
    .currentLanguage {
        position: absolute;
        top: 9px;
        left: 0;
        cursor: pointer;
        &:hover {
            font-size: 37px;
            color: $hoverColor;
        }
    }
    
    .homeBtn {
        position: absolute;
        top: 9px;
        left: 61px;
        cursor: pointer;
        &:hover {
            color: $customBlue;
        }

        &:active {
            color: $hoverColor;
        }
    }
    
    .myaccount {
        position: absolute;
        top: 0;
        left: 139px;
        width: 66px;
        height: 61px;
        cursor: pointer;
        &:hover {
            width: 67px;
            height: 62px;
        }

        &:active {
            border-radius: 50px;
            border: 2px solid $hoverColor;
        }
    }
    
    .headerLine {
        position:absolute;
        top: 89px;
        left: 27px;
        width: 92%;
        height: 0;
        border: 1px solid #5C88FF;
        background-color: $bodyColor;
    }
}

@media screen and (min-width:1280px) {
    .mainContainer {
        position: sticky;
        top: 0;
        background-color: $bodyColor;
    }

    .navContainer {
        position: relative;
        top: 16px;
        left: 70%;
        width: 205px;
        height: 61px;
    }
    
    .title, 
    .currentLanguage {
        font-family: $boldFont;
        font-weight: bold;
        font-size: 36px;
        line-height: 43.2px;
    }
    
    .title {
        position: absolute;
        top: 25px;
        left: 10%;

        &:hover {
            font-size: 38px;
            color: $customBlue;
        }

        &:active {
            color: $hoverColor;
        }
    }
    
    .currentLanguage {
        position: absolute;
        top: 9px;
        left: 0;
        cursor: pointer;
        &:hover {
            font-size: 37px;
            color: $customBlue;
        }

        &:active {
            color: $hoverColor;
        }
    }
    
    .homeBtn {
        position: absolute;
        top: 9px;
        left: 61px;
        cursor: pointer;
        &:hover {
            color: $customBlue;
        }

        &:active {
            color: $hoverColor;
        }
    }

    .myaccount {
        position: absolute;
        top: 0;
        left: 139px;
        width: 66px;
        height: 61px;
        cursor: pointer;
        &:hover {
            width: 67px;
            height: 62px;
        }

        &:active {
            border-radius: 50px;
            border: 2px solid $hoverColor;
        }
    }
    
    .headerLine {
        position:absolute;
        top: 89px;
        left: 27px;
        width: 92%;
        height: 0;
        border: 1px solid #5C88FF;
        background-color: $bodyColor;
    }
}