@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$bodyColor: #E0F0FA;
$customBlue: #6BB3E7;
$customWhite: #F5F5F5;
$customGray: #C7D1D8;
$customRed: #E76B6B;
$mainFont: Montserrat;
$boldFont: Genos;

.container {
    display: grid;
    grid-template-areas: 
    'topic sidebar'
    'topic sidebar';
}

.topicContainer {
    grid-area: topic;
    margin-right: 10px;
}

.sidebarContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-area: sidebar;
    width: 250px;
    height: 300px;
}